<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Proiect_SMP</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>-->

<body class="hold-transition sidebar-mini">
    <header class="main-header">
        <a href="index.html" class="logo">
            <!-- Logo -->
            <span class="logo-mini">
                <img src="../../../assets/dist/img/mini-logo.png" alt="">
            </span>
            <span class="logo-lg">
                <img src="../../../assets/dist/img/logo.png" alt="">
            </span>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <!-- Sidebar toggle button-->
                <span class="sr-only">Toggle navigation</span>
                <span class="pe-7s-angle-left-circle"></span>
            </a>
        </nav>
    </header>



    <aside class="main-sidebar">
        <!-- sidebar -->
        <div class="sidebar">
            <!-- sidebar menu -->
            <ul class="sidebar-menu">
                <li class="active">
                    <a [routerLink]="['/home']">
                        <i class="fa fa-tachometer"></i><span>Dashboard</span>
                        <span class="pull-right-container">
                        </span>
                    </a>
                </li>
                <li class="active">
                    <a [routerLink]="['/counter']">
                        <i class="fa fa-american-sign-language-interpreting"></i> <span>  Counter</span> 
                        <span class="pull-right-container"></span>
                    </a>
                </li>

                <li class="active">
                    <a [routerLink]="['/graph']">
                        <i class="fa fa-area-chart"></i> <span> Graph </span> 
                        <span class="pull-right-container"></span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- /.sidebar -->
    </aside>
    </body>